.app {
  background-color: #758184;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.app__calculator {
  width: 400px;
  height: 600px;
}

.app__row {
  display: flex;
  width: 100%;
}
